* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Open-Sans' serif;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  text-transform: uppercase;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', serif;
  font-size: 1.35rem
}

/* padded section */

.pad-section {
  padding: 50px 0;
}

.pad-section img {
  width: 100%;
}

/* about me text */

.home {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.home h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin-bottom: 10px;
  padding: 0;
}

.about-me-btn {
  line-height: 15px;
  margin-top: 30px;
  height: auto;
  width: 100px;
  border-color: #2e82d9!important;
  color: #2e82d9;
  transition: all .2s ease;
}

.about-me-btn:hover {
  line-height: 15px;
  margin-top: 30px;
  height: auto;
  width: 100px;
  border-color: #2e82d9!important;
  color: white;
  background: #2e82d9;
  transition: all .2s ease;
}

/* additional sections */

#home {
  background: url(../images/bg1.png) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.first-aboutp {
  margin-top: 100px;
}

#about {
  color: #888888;
  font-family: llxb;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  padding-bottom: 25px;
  padding-top: 0px;
  text-transform: none;
}

#experience {
  background: url(../images/bg7.jpg) no-repeat center center fixed;
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: black;
}

.resume-date {
  min-width: none;
}

#education {
  background: url(../images/bg5.jpg) no-repeat center center fixed;
  display: table;
  height: 100px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#aspirations {
  background: url(../images/bg4.jpg) no-repeat center center fixed;
  display: table;
  height: 100px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.img-profile {
  height: 60px;
  width: auto;
}

.list-social-icons a {
  color: #495057
}

.list-social-icons a:hover {
  color: grey;
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem
}

.list-icons {
  font-size: 3rem
}

.list-icons .list-inline-item i:hover {
  color: grey;
}

.card-container {
  padding-right: 50px;
  padding-left: 50px;
}

.card {
  padding: 20px;
  border: none;
}

.card-text {
  padding-bottom: 0px;
  color: #888888;
  font-family: llxb;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  padding-bottom: 25px;
  padding-top: 5px;
  padding-left: 13px;
}

.card-header {
  width: 100%;
  padding: none;
  font-size: 25px;
  text-align: center;
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  text-transform: uppercase;
}

/* header shadow effect */

.card-header {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.card-header:before, .card-header:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 0;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}

.card-header:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}

/* card header shadow effect */

.card-img-top {
  max-width: 90%;
  max-height: auto;
  position: relative;
  vertical-align: middle;
  left: 50%;
  transform: translate(-50%);
  /* height: 150px;
  width: 150px; */
  object-fit: cover;
  margin-top: 15px;
}

/* card image shadow effect */

.card-img-top {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.card-img-top:before, .card-img-top:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 0;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}

.card-img-top:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}

/* card image shadow effect */

.proj-btn {
  margin-top: 5px;
  height: auto;
  width: 100px;
  border-color: #2e82d9!important;
  color: #2e82d9;
  transition: all .2s ease;
}

.proj-btn:hover {
  color: white;
  background: #2e82d9;
  transition: all .2s ease;
}

#r-link {
  float: right;
}

#l-link {
  float: left;
}

.nav-div {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#social-media-icon {
  height: 20px;
  width: 20px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: unset;
  flex: unset;
}

@media (min-width:768px) {
  section.resume-section {
    min-height: 100vh
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem
  }
}

@media (min-width:992px) {
  section.resume-section {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important
  }
}

@media (max-width:400px) {
  #home {
    background: url(../images/bg1.png);
    display: table;
    height: 90%;
    position: relative;
    width: 100%;
    margin-top: 76px;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }
  #experience {
    background: url(../images/bg2.png);
    display: table;
    height: 800px;
    position: relative;
    width: 100%;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    color: black;
  }
  #education {
    background: url(../images/bg2.png);
    display: table;
    height: 400px;
    position: relative;
    width: 100%;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }

  #aspirations {
    background: url(../images/bg2.png);
    display: table;
    height: 500px;
    position: relative;
    width: 100%;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }
  .home h1 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: auto;
    margin-top: auto;
    padding: 0;
  }
  .home h3 {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: auto;
    margin-top: auto;
    padding: 0;
  }

  .home {
    position: relative;
    bottom: 200px;
  }
  .first-aboutp {
    margin-top: 10px;
  }
  .list-inline-item:not(:last-child) {
    margin-right: 0;
  }
}